@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #ffffff;
  --foreground: #1A1C22;

  --primary-bg: #F5F7F8;
  --secondary-bg: #008B8B;
  --secondary-bg-opacity: #30384733;
  --mugs-bg: #008b8b99; 
  --master-classes-bg: #23262DB3;
  --about-us-bg: #008B8B1A;
  --button-bg: #FF7F50;

  --accent-color: #D4AF37;
  --primary-color: #FFFFFF;
  --secondary-color: #000000;

  --placeholder-color: #1a2b3c80;
  --border-color: #008B8B;
  --navbar-color: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --inria-serif: var(--font-inria-serif);
  --instrument-sans: var(--font-instrument-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-bg);
    --foreground: var(--second-color);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--inria-serif), serif;
}


main {
  margin-top: 108px;
}